# استبعاد فولدر الموديل الكبير
SciReason-LFM2-2.6B/

# استبعاد ملفات تانية مالهاش لازمة
__pycache__/
*.pyc


test.py
dentistry.pdf
dental_project_DB.sqbpro

# Ignore SQLite DB files
*.db
*.db-shm
*.db-wal

# VSCode settings
.vscode/

# Python cache
__pycache__/
*.pyc